html, body { color: var(--text-primary); font-family: 'Open Sans', sans-serif !important; height: 100%; }
body { background: var(--bg-primary); font-size: 15px; line-height: 1.64; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, strong, b { font-family: 'Dosis', sans-serif !important; margin-bottom: 20px; }
h1,h4 { font-weight: 700; margin-bottom: 10px; }
h2,h3 { font-weight: 300; color: var(--primary-colour); }
h2 { font-size: 54px; text-align: center; }
h3 { font-size: 28px; }

p.lead { text-align: center; color: var(--text-secondary); }
p.lead a { color: var(--text-white); text-decoration: underline; }
p.lead a:hover { text-decoration: none; }
ul.no-bullets { list-style-type: none; margin: 0px; padding: 0px; }
hr { margin: 40px 0px; border-color: var(--text-secondary); opacity: var(--overlay-opacity-20); filter:alpha(opacity=20); }

.project-referal { margin-top: 40px; }
.project-referal p { font-style: italic; color: var(--text-muted); }

.btn-primary { background-color: var(--primary-colour); border-color: var(--primary-colour-dark); }
.btn-primary:hover { background-color: var(--primary-colour-dark);  border-color: var(--primary-colour-dark); }

.icon { display: inline-block; background: url(images/sm_icon_sprite.png) no-repeat; height: 32px; width: 32px; }
.icon.icon-twitter { background-position: 0px 0px; }
.icon.icon-linkedin { background-position: 0px -32px; }
.icon.icon-skype { background-position: 0px -64px; }
.icon.icon-email { background-position: 0px -96px; }

.jumbotron {
	background: no-repeat left bottom fixed;

	-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/background.jpg', sizingMethod='scale')";
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/background.jpg', sizingMethod='scale');
	
	margin-bottom: 0px;
	padding: 0px;
}
.jumbotron .overlay { background-color: var(--primary-colour); position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; opacity: 0; filter:alpha(opacity=75); z-index: 2; }

.jumbotron .container { position: relative; top: 28%; z-index: 4; text-align: center; }
.jumbotron .container > * { text-align: center; color: var(--text-white); }
.jumbotron .container h1 { padding-bottom: 20px; border-bottom: 1px solid var(--border-white); border-bottom-color: var(--border-white-transparent); display: inline-block; font-weight: 400; font-size: 72px;}
.jumbotron .container .lead { font-size: 28px; }
.jumbotron .scroll-down { height: 80px; width: 110px; display: block; position: absolute; bottom: 0px; right: 5%; background-color: var(--bg-dark); text-align: center; z-index: 6; }
.jumbotron .scroll-down .glyphicon { 
	color: var(--text-white); 
	font-size: 30px; 
	padding-right: 2px; 
	padding-top: 20px;
	
	animation-name: wiggle;
	animation-duration: 1.2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
}
.jumbotron .scroll-down:hover .glyphicon { padding-top: 25px; }

.navbar  { border: 0px; background-color: var(--bg-dark); position: absolute; top: 100%; right: 5%; width: 110px; z-index: 999; }
.navbar .navbar-collapse { padding: 0px; max-height: none; }
.navbar .navbar-nav { float: none; }
.navbar-nav { margin: 0px; }
.navbar .nav > li { display: block; float: none; height: 80px; } 
.navbar .nav > li a { display: block;  height: 80px; text-align: center; padding-top: 30px; font-weight: 600; color: var(--text-white); }
.navbar .nav > li a:hover, .navbar .nav > li a:focus { color: var(--text-muted); }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { background: var(--primary-colour); color: var(--text-white); }
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar { background: var(--bg-dark); }

.fixed .navbar  { position: fixed; top: 60px; }

.background-white { background: var(--bg-white); }
.background-gray { background: var(--bg-gray); }
.container { max-width: 1280px; padding: 40px 180px; }

#profile .row > div { margin-bottom: 20px; }
#profile .row > div img { width: 100%; max-width: 246px; height: auto; }
	
.experience { margin-bottom: 20px; }
.experience p > strong { display: block; padding-top: 8px; margin-bottom: 10px; }
.experience .experience-details { display: block; margin-top: 6px; }
.experience .experience-details * { color: var(--primary-colour); }
.experience .experience-details .seperator { color: var(--accent-separator); }

#abilities ul > li { min-height: 30px; padding: 3px 0px; }
#abilities ul > li .ability-title { display: inline-block; width: 60%; }
#abilities ul > li .ability-score { float: right; }
#abilities ul > li .ability-score .glyphicon { 
	color: var(--accent-light-gray); 
	font-size: 14px; 
	 
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#abilities ul > li .ability-score .glyphicon.filled { color: var(--primary-colour); }

#abilities ul > li:hover .ability-score .glyphicon { margin-left: 2px; } 

/* #projects .row { margin: 0px; } // bootstrap 3.1- hack */
#projects .row > div { margin-bottom: 30px; }
#projects figure { position: relative; overflow: hidden; }
#projects figure h3 { color: var(--text-white); font-weight: 600; margin-bottom: 5px; }
#projects figure p > strong { width: 60px; display: inline-block; margin: 0px; }
#projects figure img { width: 110%; }
#projects figure figcaption {
    padding: 20px 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
#projects figure a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
#projects figure .icon { 
	background: var(--primary-colour);
	position: absolute;
	top: 0px;
	right: 0px;
	width: 48px;
	height: 48px;
}
#projects figure .icon span {
	font-size: 18px;
	line-height: 18px;
	padding: 15px;
}
#projects .contact-field-caption {
	display: inline-block;
	width: 7em;
}
#projects .code-icon-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#projects .code-icon-holder {
	flex:1;
	margin: 20px auto;
}
#projects .code-icon-holder a,
#projects .code-icon-holder a:visited{
	color: var(--primary-colour);
	text-transform: uppercase;
	transition: 0.5s;
}
#projects .code-icon-holder a:hover{
	color: var(--text-primary);
}

#interests .interest-date {
	font-size: 0.8em;
	font-style: italic;
}

#contact { padding-bottom: 200px; }
#contact h2, #contact h4, #contact .row label { color: var(--text-white); }
#contact a { line-height: 32px; margin-bottom: 20px;  }
#contact a .icon { float: left; margin-right: 20px; }
#contact a:hover { opacity: 1; filter:alpha(opacity=100); text-decoration: none; }

#contact .row input,
#contact .row textarea {
	color: var(--text-primary);
}

#contact .row input[type=submit],
.btn.btn-modal {
	color: var(--text-white);
	background-color: var(--primary-colour);
	border-color: var(--primary-colour);
	transition:0.5s;
	cursor:pointer;
}
#contact .row input[type=submit]:hover,
#contact .row input[type=submit]:focus,
.btn.btn-modal:hover,
.btn.btn-modal:focus {
	background-color: var(--bg-white);
	color: var(--primary-colour);
}
.opl {
	position:absolute;
	top:100px;
	left:0px;
	z-index:99999;
}

.opl a {
	width:73px;
	height:56px;
	text-indent:-9999px;
	display:block;
}

@media (max-width: 767px) { 
	.jumbotron {
		background: no-repeat left bottom fixed var(--bg-light-blue);
	}
	.jumbotron:before {
		bottom: 100px;
		left: 20px;
		right: 20px;
		top: 20px;		
	}
	.jumbotron .container { top: 20%; padding-top: 0px; }
	.jumbotron .scroll-down { width: 100%; right: 0px; }
	
	.navbar  { left: 0px; width: 100%; }
	.navbar .nav > li { height: 60px; }
	.navbar .nav > li a { height: 60px; text-align: center; padding-top: 20px; font-weight: 600; color: var(--text-white); }
	
	.fixed .navbar { top: 0px; }
	
	.container { padding: 60px 20px; min-width: 280px; }
	.hidden-phone { display: none; }
	
	#profile .row * { text-align: center; }
	
	#experiences .experience .experience-details > span { display: block; margin-bottom: 6px; }
	#experiences .experience .experience-details .seperator { display: none; }
	
	#contact { padding-bottom: 60px; }
	#contact a .icon { float: left; margin-right: 10px; }
}    

@media only screen and (orientation: portrait) and (max-width: 767px)  {
    .jumbotron {
      -webkit-background-size: auto 150%;
      background-attachment: scroll;
    }
}
@media only screen and (orientation: landscape) and (max-width: 767px)  {

    .jumbotron {
      -webkit-background-size: 150% auto;
      background-attachment: scroll;
    }
	
	.jumbotron .lead { display: none; }
}

@keyframes wiggle {
	0% {
		padding-top: 20px;
	}

	50% {
		padding-top: 28px;
	}

	100% {
		padding-top: 20px;
	}
}


/*---------------*/
/***** EFFECT *****/
/*---------------*/

figure.effect {
	background: var(--primary-colour);
	color: var(--text-white);
}

figure.effect img {
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect:hover img {
	opacity: 0.2;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect figcaption {
	text-align: left;
}

figure.effect h3 {
	position: relative;
	overflow: hidden;
	padding-bottom: 20px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect:hover h3 {
	opacity: 1;
}

figure.effect h3::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: var(--bg-white);
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

figure.effect:hover h3::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect p {
	padding-top: 10px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

figure.effect:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

footer {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size:0.8em;
	font-weight: 700;
	text-align: center;
}

.emoji-heart {
	color: var(--accent-red);
	font-size: 1.2em;
}

.emoji-coffee {
	font-size: 1.2em;
}